body {
  background-color: #f0f0f0; /* Light gray background */
}

.logo-text {
  font-family: 'Arial', sans-serif; /* Adjust the font-family */
  color: #4a4a4a; /* Gray color for text */
  font-size: 14px; /* Adjust the size as needed */
  text-align: center; /* Center-align the text */
  line-height: 1.6; /* Adjust line height for spacing between lines */
  margin-top: 20px; /* Adjust top margin to position the text */
}

.logo-text p {
  margin: 5px 0; /* Adjust margin for better spacing */
}

